:host {
  display: block;
  width: 100%;
  background-color: var(--mat-sys-surface-container-low);
  color: gray;
  text-align: center;
  padding: 10px 0 !important;
  font-size: 12px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;

  .spacer {
    flex: 1;
  }
}
