form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: auto;
}

button {
  align-self: center;
  margin-top: 15px;
}

.user-card {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

mat-card-title {
  color: var(--mat-sys-secondary);
  margin-bottom: 24px;
}

mat-form-field {
  width: 100%;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}
